footer.footer 
    .wrapper
        .row.footer-header
            .col-xxl-3.col-xl-3.col-lg-4.col-md-4.col-sm-3.col-3
                a.logo-link(href="/")
                    img.logo-link__img(src="./assets/images/logo-revice-footer.svg" alt="logo")
            .col-xxl-9.col-xl-9.col-lg-8.col-md-8.col-sm-9.col-9.menu
                nav
                    ul.menu-select
                        li.menu-select__item
                            a(href="/") Cómo funciona
                        li.menu-select__item
                            a(href="/") ¿Por Qué Nosotros?
                        li.menu-select__item
                            a(href="/") Comentarios
                        li.menu-select__item
                            a(href="/") FAQ
                        li.menu-select__item
                            a(href="/") Contáctenos
                        li.menu-select__item
                            button Empezar
                        li.menu-select__item
                            a.active(href="/") Iniciar Sesión
        .row.footer__border
            .col-xxl-5.col-xl-5.col-lg-5.col-md-4.col-sm-5.col-10.footer-adress
                p Document Processing Center Address: 
                    span.footer-desc  Online Divorce Technology LLC 416 W San Ysidro BLVD, Ste L  PMB #630,  San Ysidro CA 92173
            .col-xxl-3.col-xl-3.col-lg-3.col-md-4.col-sm-5.col-12.footer-contact 
                p 1 (866) 927-1400
                p.footer-desc Mon-Fri, 9:00AM - 8:00PM EST
            .col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-sm-2.col-2
        .row.footer-ul 
            .col-xxl-2.col-xl-2.col-lg-2.col-md-3.col-sm-3.col-6
                p.footer-desc Divorce in Alabama
                p.footer-desc Divorce in Alaska
                p.footer-desc Divorce in Arizona
                p.footer-desc Divorce in Arkansas
                p.footer-desc Divorce in California
                p.footer-desc Divorce in Colorado
                p.footer-desc Divorce in Connecticu
                p.footer-desc Divorce in Delaware
            .col-xxl-2.col-xl-2.col-lg-2.col-md-3.col-sm-3.col-6
                p.footer-desc Divorce in Florid
                p.footer-desc Divorce in Georgia
                p.footer-desc Divorce in Hawaii
                p.footer-desc Divorce in Idaho 
                p.footer-desc Divorce in Illinois
                p.footer-desc Divorce in Indiana
                p.footer-desc Divorce in Iowa 
                p.footer-desc Divorce in Kansas
            .col-xxl-2.col-xl-2.col-lg-2.col-md-3.col-sm-3.col-6
                p.footer-desc Divorce in Kentucky 
                p.footer-desc Divorce in Louisiana 
                p.footer-desc Divorce in Maine 
                p.footer-desc Divorce in Maryland
                p.footer-desc Divorce in Massachusetts
                p.footer-desc Divorce in Michigan 
                p.footer-desc Divorce in Minnesota 
                p.footer-desc Divorce in Mississippi 
            .col-xxl-2.col-xl-2.col-lg-2.col-md-3.col-sm-3.col-6
                p.footer-desc Divorce in Missouri 
                p.footer-desc Divorce in Montana
                p.footer-desc Divorce in Nebraska 
                p.footer-desc Divorce in Nevada 
                p.footer-desc Divorce in New Hampshire
                p.footer-desc Divorce in New Jersey
                p.footer-desc Divorce in New Mexico
                p.footer-desc Divorce in New York
            .col-xxl-2.col-xl-2.col-lg-2.col-md-3.col-sm-3.col-6
                p.footer-desc Divorce in North Carolin
                p.footer-desc Divorce in North Dakota
                p.footer-desc Divorce in Ohio
                p.footer-desc Divorce in Oklahoma
                p.footer-desc Divorce in Oregon
                p.footer-desc Divorce in Pennsylvania
                p.footer-desc Divorce in Puerto Rico
                p.footer-desc Divorce in Rhode Island
            .col-xxl-1.col-xl-1.col-lg-1.col-md-3.col-sm-3.col-6
                p.footer-desc Divorce in
                p.footer-desc Divorce in So
                p.footer-desc Divorce in
                p.footer-desc Divorce in
                p.footer-desc Divorce i
                p.footer-desc Divorce 
                p.footer-desc Divorce i
                p.footer-desc Divorce i
            .col-xxl-1.col-xl-1.col-lg-1.col-md-3.col-sm-3.col-0
                p.footer-desc Divorce in
                p.footer-desc Divorce 
                p.footer-desc Divorce in
                p.footer-desc Divorce in
        .row
            .col-xxl-12.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12.footer-bottom-desc
                p.footer-desc Mapa del sitio
                p.footer-desc © 2000-2019 Online Divorcio, Todos los derechos 
                p.footer-desc  Aviso legal: Divorcio en línea no es un bufete de abogados y su sservicios de la página web y los formularios no sustituyen el asesoramiento de un abogado. Divorcio en línea proporciona acceso a servicios de autoayuda asistidos por computadora en su dirección específica. La página web del Divorcio en línea y las instrucciones escritas brindan información general sobre el proceso de divorcio solamente; No podemos darle ningún consejo específico, opiniones o recomendaciones sobre su selección o relleno de formularios o sus derechos, recursos u opciones legales particulares. OnlineDivorce.com es un sitio web que proporciona acceso a cuestionarios en línea autoguiados. El Divorcio en línea no vende formularios en blanco, y un usuario puede descargarlos en el sitio web de un tribunal. Las comunicaciones entre Usted y Divorcio en línea se rigen por nuestra Política de privacidad, pero no están cubiertas por los privilegios de abogado-cliente o producto de trabajo. Su acceso al sitio web de Divorcio en línea está sujeto y regido por nuestros Términos de uso. Cualquier compra de Divorcio en línea está sujeta y regida por nuestros Términos y condiciones.