section.compromiso 
    .wrapper
        .row 
            h2 Compromiso con los clientes
            .padding
                p Nuestras herramientas han ayudado a más de 500,000 personas a divorciarse rápidamente y sin estrés mientras ahorran dinero en el proceso.
            .col-xxl-4.col-xl-4.col-lg-4.col-md-6.col-sm-6.col-12
                .compromiso-item
                    .img 
                        .before__image
                        img.compromiso-item__image(src="./assets/images/compromiso_img1.png" alt="image")
                    .compromiso-item_description 
                        h4 Aprobación judicial garantizada
                        p Si los formularios no son aprobados por el tribunal, reembolsaremos el dinero del cliente
            .col-xxl-4.col-xl-4.col-lg-4.col-md-6.col-sm-6.col-12
                .compromiso-item
                    .img 
                        img.compromiso-item__image(src="./assets/images/compromiso_img2.png" alt="image")
                    .compromiso-item_description 
                        h4 Ofrecemos el mejor precio (sin cargos ocultos) en Internet
                        p Nuestras herramientas han ayudado a completar más de 500,000 casos
            .col-xxl-4.col-xl-4.col-lg-4.col-md-6.col-sm-6.col-12
                .compromiso-item
                    .img
                        .before__image.before__image_2
                        img.compromiso-item__image(src="./assets/images/compromiso_img3.png" alt="image")
                    .compromiso-item_description 
                        h4 Rellenado de instruccionespaso a paso
                        p Nuestras instrucciones de presentación fáciles de seguir guían al cliente a través del proceso
            .col-xxl-4.col-xl-4.col-lg-4.col-md-6.col-sm-6.col-12
                .compromiso-item
                    .img 
                        img.compromiso-item__image(src="./assets/images/compromiso_img4.png" alt="image")
                    .compromiso-item_description 
                        h4 Ahorre dinero
                        p Los clientes ahorran al menos $1,700 dólares en honorarios de abogados
            .col-xxl-4.col-xl-4.col-lg-4.col-md-6.col-sm-6.col-12
                .compromiso-item
                    .img 
                        .before__image.before__image_3
                        img.compromiso-item__image(src="./assets/images/compromiso_img5.png" alt="image")
                    .compromiso-item_description 
                        h4 Atención al cliente en línea
                        p Nuestro dedicado equipo de atención al cliente brinda instrucciones durante todo el proceso
            .col-xxl-4.col-xl-4.col-lg-4.col-md-6.col-sm-6.col-12
                .compromiso-item
                    .img 
                        img.compromiso-item__image(src="./assets/images/compromiso_img6.png" alt="image")
                    .compromiso-item_description 
                        h4 Disponible en cualquier dispositivo
                        p Manejar los documentos de divorcio en línea nunca ha sido más conveniente