section.hero
    .wrapper.wrapper-hero
        .row
            .col-xxl-6.col-xl-6.col-lg-5.col-md-4.col-sm-4.col-6.hero-title 
                h1.hero-title__h1 Comience Su Divorcio Online Sin Honorarios de Abogados
                .desription-container.desription-container-decstop
                    .desription-container_item
                        img.desription-container_item__img(src="./assets/images/flag.svg")
                        p.desription-container_item__text Comience su divorcio en línea Sin honorarios de abogado
                    .desription-container_item
                        img.desription-container_item__img(src="./assets/images/flag.svg")
                        p.desription-container_item__text Nuestro sistema fue pionero en la industria del divorcio en línea
                    .desription-container_item
                        img.desription-container_item__img(src="./assets/images/flag.svg")
                        p.desription-container_item__text Durante 19 años, más de 500,000 personas han usado nuestras herramientas
                    .desription-container_item
                        img.desription-container_item__img(src="./assets/images/flag.svg")
                        p.desription-container_item__text Ofrecemos el mejor precio del mercado.
            .col-xxl-6.col-xl-6.col-lg-7.col-md-8.col-sm-8.col-6.hero-bg
            .col-xxl-0.col-xl-0.col-lg-0.col-md-0.col-sm-12.col-12.desription-container.desription-container-mobile
                .desription-container_item
                    img.desription-container_item__img(src="./assets/images/flag.svg")
                    p.desription-container_item__text Comience su divorcio en línea Sin honorarios de abogado
                .desription-container_item
                    img.desription-container_item__img(src="./assets/images/flag.svg")
                    p.desription-container_item__text Nuestro sistema fue pionero en la industria del divorcio en línea
                .desription-container_item
                    img.desription-container_item__img(src="./assets/images/flag.svg")
                    p.desription-container_item__text Durante 19 años, más de 500,000 personas han usado nuestras herramientas
                .desription-container_item
                    img.desription-container_item__img(src="./assets/images/flag.svg")
                    p.desription-container_item__text Ofrecemos el mejor precio del mercado.       
        form.form(action="#") 
            .row.relative
                .col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12.form-left
                    .form-banner
                        .form-banner-left
                            h4 100%
                            .border
                            .form-banner-left-desc 
                                p DE GARANTÍA DE APROBACIÓN EN 
                                p EL TRIBUNAL o le devolvemos su dinero
                        .form-banner-right
                            h4 $139
                            p BEST PRICE 
                    h3 Vea si califica
                    p ¿Sabe la ubicación de su cónyuge?
                    .form-check.form-check-inline
                        input.form-check-input(type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked)
                        label.form-check-label(for="inlineRadio1") Sí
                    .form-check.form-check-inline
                        input.form-check-input(type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2")
                        label.form-check-label(for="inlineRadio2") No
                    p Can you and your spouse agree to the division of property, debts and all  child related issues?
                    .form-check.form-check-inline
                        input.form-check-input(type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" checked)
                        label.form-check-label(for="inlineRadio3") Sí
                    .form-check.form-check-inline
                        input.form-check-input(type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4")
                        label.form-check-label(for="inlineRadio4") No

                .col-xxl-6.col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12.form-right
                    .form-right_wrapper
                        .form-container.form-container_mobile1
                            .select-input 
                                input.form-container__input.form-container__input__first-select(type="text" required  placeholder="Seleccione su estado")
                                .select-input-cont
                                    .select-input-cont-img   
                                        img.select-input-cont_img(src="./assets/images/sort_arrow.png")
                                        img.select-input-cont_img.select-input-cont_img__up(src="./assets/images/sort_arrow.png")
                            input.form-container__input(type="text" required  placeholder="Nombre")
                        .form-container.form-container_mobile2
                            input.form-container__input.form-container__input__first(type="text" required  placeholder="Ingrese su correo el")
                            input.form-container__input(type="text" required  placeholder="Apellido")
                        button.form-container__button(type="submit") Verificar elegibilidad
                        p Al hacer clic en “Verificar Elegibilidad”, usted acepta los Términos y Condiciones




        
              
    