section.logo-deal 
    .wrapper
        .row 
            h2 Divorcio en línea en las noticias
            .col-xxl-2.col-xl-2.col-lg-2.col-md-2.col-sm-4.col-4.item
                img.logo-deal_img(src="./assets/images/logo_1.png")
            .col-xxl-2.col-xl-2.col-lg-2.col-md-2.col-sm-4.col-4.item
                img.logo-deal_img(src="./assets/images/logo_2.png")
            .col-xxl-2.col-xl-2.col-lg-2.col-md-2.col-sm-4.col-4.item
                img.logo-deal_img(src="./assets/images/logo_3.png")
            .col-xxl-2.col-xl-2.col-lg-2.col-md-2.col-sm-4.col-4.item
                img.logo-deal_img(src="./assets/images/logo_4.png")
            .col-xxl-2.col-xl-2.col-lg-2.col-md-2.col-sm-4.col-4.item
                img.logo-deal_img(src="./assets/images/logo_5.png")
            .col-xxl-2.col-xl-2.col-lg-2.col-md-2.col-sm-4.col-4.item
                img.logo-deal_img(src="./assets/images/logo_6.png")                             