section.obtengo
    .wrapper
        .row.obtengo-container 
            h2 Obtenga un divorcio en línea fácil
            .col-xxl-5.col-xl-5.col-lg-5.col-md-5.col-sm-5.col-12.obtengo-container_left
                .obtengo-container_left__bg 
                img.obtengo-container_left__image(src="./assets/images/obtengo_bg_left.png")
            .col-xxl-7.col-xl-7.col-lg-7.col-md-7.col-sm-7.col-12.obtengo-container_right
                .obtengo-container_right__dedcription 
                    h3 Barato y conveniente
                    p Nuestro proceso simple y económico le permitirá completar sus documentos de divorcio desde la comodidad de su hogar, sin incurrir en el costo de un abogado o lidiar con una  larga finalización
                    h3 Profesional y con experiencia
                    p Somos uno de los principales proveedores de divorcios en línea en los Estados Unidos y Canadá. Hacemos que el divorcio sea fácil porque nuestro proceso garantiza que sus documentos esten hechos correctamente. No hay necesidad de buscar formularios o leer instrucciones largas y confusas
                    h3 100% aprobado por el tribunal
                    p Sin espera. Nuestro servicio de preparación de divorcios con todo incluido está garantizado para proporcionarle formularios aceptados por el tribunal actualizados y completos



