section.revice
    .wrapper
        .row 
            .col-xxl-7.col-xl-7.col-lg-7.col-md-8.col-sm-10.col-12
                h2.revice__title ¿Porque nosotros? Revise la diferencia de OnlineDivorce.com 
            .col-xxl-5.col-xl-5.col-lg-5.col-md-4.col-sm-2.col-0
        .row
            .col-xxl-7.col-xl-7.col-lg-7.col-md-7.col-sm-6.col-12.revice-left
                .oval_bg.oval_bg_1
                .revice-left-desc
                    h3 Divorcio disputado 
                    h6 Nuestras herramientas han ayudado a más de 500,000 personas  y sin estrés.
                    p Proceso fuera de línea e inconveniente con representación de abogado para cada cónyuge. Costos de honorarios de abogados que resultan en gastos impredecibles. En general, un camino largo y costoso a seguir.
                    p.before La disponibilidad del abogado afecta el tiempo de finalización
                    p.before Cada cónyuge tiene que contratar a un abogado, que duplica automáticamente los honorarios legales
                    p.before Posibles batallas judiciales que se suman a los altos niveles de estrés
                    h3 Otros servicios de divorcio en linea
                    h6 Nuestras herramientas han ayudado a más de 500,000 personas a divorciarse rápidamente y sin estrés.
                    p Otros sitios web para completar los documentos de divorcio utilizan tecnologías de software defectuosas para completar su documentación de divorcio.
                    p.before Preparación automatizada de documentos
                    p.before El tiempo de procesamiento varía, pero puede demorar más de tres días hábiles
                    p.before Atención al cliente a pedido, la calidad varía
                    p.before Una tarifa fija reclamada, sin embargo, muchos sitios tienen tarifas ocultas
                    p.before Sin experiencia: muchos sitios comenzaron a funcionar hace solo unos años
            .col-xxl-5.col-xl-5.col-lg-5.col-md-5.col-sm-6.col-12.revice-right
                .revice-right_logo 
                    img.revice-right_logo__image(src="./assets/images/logo-revice-footer.svg")
                    h3 La principal herramienta de divorcio disputado
                    p Atención al cliente galardonado Una tarifa fija (para ambos cónyuges) para acceder a todos los documentos 
                    p.before Los documentos de divorcio listos para presentar pueden completarse a su propio ritmo con fácil acceso para ambos cónyuges
                    p.before Atención al cliente galardonado Una tarifa fija (para ambos cónyuges) para acceder a todos los documentos completados para la presentación
                    p.before Revisiones gratuitas y cambio de nombre gratuito, sin tarifas ocultas
                    p.before Instrucciones detalladas de presentación específicas del estado
                    p.before Revise todo y realice cambios desde la comodidad de su hogar
