section.reviews.ant-carousel
    .row 
        h2 Opiniones de OnlineDivorce
    .wrapper.wrapper-slider 
        .row 
            .col-xxl-1.col-xl-1.col-lg-1.col-md-1.col-sm-1.col-1.arrow-cont
                .ant-carousel-arrow.ant-carousel-arrow-left
                    img.ant-carousel-arrow-left__image.ant-carousel-arrow-left__imageLeft(src="./assets/images/arrow-left-slider.png")
            .col-xxl-10.col-xl-10.col-lg-10.col-md-10.col-sm-10.col-12
                .ant-carousel-hider
                    .row.ant-carousel-list
                        .col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-sm-4.col-4.ant-carousel-element
                            .ant-carousel-element_conteiner 
                                .title 
                                    .title-name-avatar
                                        .title-name-avatar__image
                                            img(src="./assets/images/slider_avatar.png")
                                        .title-name-avatar_name 
                                            h3 Kilpatrick B., Ontario
                                            ul 
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                    .title-date 
                                        h5 Aug 2018
                                p.ant-carousel-element_conteiner__description OD proporciona una guía clara, incluso para mi inusual y bastante especifico caso, resultó ser muy útil. Pensarías que no puedes esperar recibir soporte online profesional. Pero OD sorprende. Todos los formularios estuvieron preparados a tiempo. ¡Lo recomiendo!
                                p.verified Verified Buyer
                        .col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-sm-4.col-4.ant-carousel-element
                            .ant-carousel-element_conteiner 
                                .title 
                                    .title-name-avatar
                                        .title-name-avatar__image
                                            img(src="./assets/images/slider_avatar.png")
                                        .title-name-avatar_name 
                                            h3 Kilpatrick B., Ontario
                                            ul 
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                    .title-date 
                                        h5 Aug 2018
                                p.ant-carousel-element_conteiner__description OD proporciona una guía clara, incluso para mi inusual y bastante especifico caso, resultó ser muy útil. Pensarías que no puedes esperar recibir soporte online profesional. Pero OD sorprende. Todos los formularios estuvieron preparados a tiempo. ¡Lo recomiendo!
                                p.verified Verified Buyer
                        .col-xxl-4.col-xl-4.col-lg-4.col-md-4.col-sm-4.col-4.ant-carousel-element
                            .ant-carousel-element_conteiner 
                                .title 
                                    .title-name-avatar
                                        .title-name-avatar__image
                                            img(src="./assets/images/slider_avatar.png")
                                        .title-name-avatar_name 
                                            h3 Kilpatrick B., Ontario
                                            ul 
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                                li 
                                                    img.star(src="./assets/images/star.png")
                                    .title-date 
                                        h5 Aug 2018
                                p.ant-carousel-element_conteiner__description OD proporciona una guía clara, incluso para mi inusual y bastante especifico caso, resultó ser muy útil. Pensarías que no puedes esperar recibir soporte online profesional. Pero OD sorprende. Todos los formularios estuvieron preparados a tiempo. ¡Lo recomiendo!
                                p.verified Verified Buyer
                .ant-carousel-dots
            .col-xxl-1.col-xl-1.col-lg-1.col-md-1.col-sm-1.col-1.arrow-cont
                .ant-carousel-arrow.ant-carousel-arrow-right
                    img.ant-carousel-arrow-left__image.ant-carousel-arrow-left__imageRight(src="./assets/images/arrow-right-slider.png")   
        h6 Ver todas las opiniones de los clientes
