.logo-deal {
    background-color: #F3F3F3;
    min-height: 173px;
    margin-top: 65px;
    text-align: center;
    .wrapper {
        .row {
            padding: 0 90px;
            h2 {
                font-size: 28px;
                margin-top: 10px;
                font-weight: 700;
            }
            .item {
                align-items: center;
                img {
                    margin-top: 2%;
                    display: inline-block;
                    position: absolute;
                }
            }
        }
    }
}