.revice {
    width: 100%;
    text-align: left;
    position: relative;
    .oval_bg {
        position: absolute;
        width: 350px;
        height: 900px;
        border-radius: 222px;
        background: rgba(227, 227, 227, 0.501925);
        opacity: .7;
    }
    .wrapper {
        .row {
            z-index: 10;
            .revice__title {
                z-index: 10;
                font-weight: bold;
                font-size: 36px;
                line-height: 48px;
                letter-spacing: 0.545455px;
                color: #575C6B;
                margin-top: 70px;
            }
        }
    }
    &-left {
        position: relative;
        .oval_bg_1 {
            transform: rotate(-45deg);
            left: -0px;
            top: -10%;
            z-index: 0;
        }
        .revice-left-desc {
            padding-right: 11%;
            z-index: 20;
        }
        h3 {
            z-index: 20;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.545455px;
            color: #FF6E00;
            margin-top: 17px;
        }
        h6 {
            z-index: 20;
            font-weight: 600;
            font-size: 17px;
            line-height: 21px;
            letter-spacing: 0.545455px;
            color: darken(#575C6B, 0%);
            display: inline-block;
            width: 400px;
        }
        p {
            z-index: 20;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.545455px;
            color: #575C6B;
        }
    }
    .before {
        z-index: 20;
        position: relative;
        margin-left: 37px;
        margin-top: -4px;
    }
    .before::before {
        z-index: 20;
        content: '';
        position: absolute;
        background-image: url(../../assets/images/rectangle.png);
        width: 15px;
        height: 15px;
        left: -37px;
    }
    .before__right::before {
        background-image: url(../../assets/images/ok.png);
    }
    &-right {
        padding: 0;
        &_logo {
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #FFA700 0%, #FF7A00 46.38%, #FF6E00 100%);
            box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.238338);
            border-radius: 5px;
            padding: 24px 26px 30px 18px;
            &__cont {
                text-align: center;
                width: 320px;
                margin: 0 auto;
                h3 {
                    margin-top: 11px;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 32px;
                    text-align: center;
                    letter-spacing: 0.545455px;
                    color: #FFFFFF;
                }
            }
            p {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.545455px;
                color: #FFFFFF;
                margin-top: 19px;
            }
        }
    }
    .revice-right_logo__container {
        display: flex;
        width: 362px;
        justify-content: space-between;
        margin: 16px auto 0 auto;
    }
}

//media 575px
@media screen and (max-width: 575px) {
    .revice {
        width: 100%;
        .oval_bg {
            display: none;
        }
        .wrapper {
            width: 100%;
            padding: 0 15px;
            .row {
                text-align: center;
                .revice__title {
                    font-size: 22px;
                    line-height: 29px;
                }
            }
        }
        &-left {
            text-align: left;
            .oval_bg_1 {
                transform: rotate(-45deg);
                left: -0px;
                top: -10%;
                z-index: 0;
            }
        }
        .before__right::before {
            background-image: url(../../assets/images/ok.png);
        }
        &-right {
            padding: 0;
            &_logo {
                text-align: left;
            }
        }
    }
}